%h1= link_to(enki_config[:title], '/')
- if flash[:error]
  %p= flash[:error]
= form_tag(admin_session_path) do
  %h2 Stop! Who are you?
  #login-field
    %p
      =image_tag 'admin/admin_login_user.png'
      = text_field_tag 'login'
  #password-field
    %p
      =image_tag 'admin/admin_login_passw.png'
      = password_field_tag 'password'
  %p= submit_tag("Login")

