#summary
  %h1= link_to(enki_config[:title], '/')
  %p.stats
    = pluralize(@stats.post_count, 'post')
    , #{pluralize(@stats.tag_count, 'tag')}
#recent-posts.panel
  %h2 Latest Posts
  %ul
    - @posts.each_with_index do |post, i|
      %li{:class => "#{i == 0 ? 'first ' : ''}item"}
        %h3= link_to(truncate(post.title, :length => 50), admin_post_path(post))
        %span.date= post.published_at.strftime("%b %e")

