- content_for(:page_title) do
  = posts_title(@tag)
- content_for(:head)       do
  = auto_discovery_link_tag(:atom, @tag.nil? ? formatted_posts_path(:format => 'atom') : posts_path(:tag => @tag, :format => 'atom'))
.blog-feed
  - if @posts.empty?
    %p There are no posts yet.
  - else
    - @posts.each do |post|
      .extra-wrap.top25
        .data.data-indent
          .inner
            =post.approved_comments.size
          #{post.published_at.strftime("%e %b")}
        .extr
          = render :partial => 'post_header', :locals => {:post => post}
          = link_to "Read more", post, :class=>"link"
          .divider.top30
      - if more_content?
        .related
          Looking for more? Head on over to the #{link_to("archives", archives_path)}.

