- content_for(:page_title) do
  = posts_title(@tag)
- content_for(:head)       do
  = auto_discovery_link_tag(:atom, @tag.nil? ? formatted_posts_path(:format => 'atom') : posts_path(:tag => @tag, :format => 'atom'))
.blog-feed
  - if @posts.empty?
    %p There are no posts yet.
  - else
    - @posts.each do |post|
      .extra-wrap.top25
        .data.data-indent
          .inner
            .month
              #{post.published_at.strftime("%b")}
            = post.published_at.day
        .extr
          = render :partial => 'post_header', :locals => {:post => post}
          = link_to "Read more", url_for(post)+'#blogcut', :class=>"link"
          .top15
          - unless post.tags.empty?
            %ul.tags
              #{linked_tag_list(post.tags)}
          .divider.top10
    = will_paginate @posts, :class => 'my_pagination'

