.blog-feed
  .extra-wrap.top25
    .data.data-indent
      .inner
        .month
          #{@post.published_at.strftime("%b")}
        = @post.published_at.day
    - content_for(:page_title) do
      = post_title(@post)
    .extr
      = render :partial => 'posts/post', :locals => {:post => @post}
      .top20
      - unless @post.tags.empty?
        %ul.tags
          #{linked_tag_list(@post.tags)}
      .divider.top10
      .top25.comments
        = raw disqus_thread
        .divider.top30