.blog-feed
  .extra-wrap.top25
    .data.data-indent
      .inner
        0
      #{@post.published_at.strftime("%e %b")}
    - content_for(:page_title) do
      = post_title(@post)
    .extr
      = render :partial => 'posts/post', :locals => {:post => @post}
      .top15
      - unless @post.tags.empty?
        %ul.tags
          #{linked_tag_list(@post.tags)}
      .divider.top10
      .top25.comments
        %h3 Comments:
        %ul.commentlist
          -#- @post.approved_comments.each do |comment|
          -#  <li#{raw cycle(' class="alt"', '')} id="comment-#{comment.id}">
          -#  = render :partial => 'comments/comment', :locals => {:comment => comment}
        .divider.top30