!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}
      %title= html_title yield(:page_title)
      = csrf_meta_tag
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
      = open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation]
      %link{:href=>'http://fonts.googleapis.com/css?family=Open+Sans:700,600&subset=latin,cyrillic',:rel=>'stylesheet',:type=>'text/css'}

      = yield(:head)
  %body#home
    %header
      .row-1
        .container_12.clearfix
          .full-width
            %h1
              %a{:href => "/"}
                %i
                  Xkeeper's blog
                -#%img{:alt => "image", :src => "/assets/logo.png"}/
            %ul.icon-list
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "/assets/twitter.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "/assets/google .png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "/assets/facebook.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "/assets/dribble.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "/assets/vimeo.png"}/
            %form#form-search{:enctype => "multipart/form-data", :method => "get"}
              %fieldset
                %input{:name => "search", :type => "text"}
                  %a#send_bt{:href => "javascript:{}", :onclick => "jQuery('#form-search').submit();"} Go
      %nav
        .container_12.clearfix
          .full-width
            %ul.sf-menu
              - page_links_for_navigation.each do |link|
                %li{:class =>cp(link.url)}= link_to(link.name, link.url)
    -#navigation
      %h2 Pages
      %ul
        - page_links_for_navigation.each do |link|
          %li= link_to(link.name, link.url)
      - unless category_links_for_navigation.empty?
        %h2 Categories
        %ul
          - category_links_for_navigation.each do |link|
            %li= link_to(link.name, link.url)
  %section#content
    .main.clearfix
      .top25
        .background.bottom54
          .container_12.clearfix.top40
            = yield
        .container_12.clearfix
          .divider1
  .main
    %footer
      .container_12.relative
        #twitter.twitter
      .row
        .container_12.clearfix
          .grid_12
            %ul.footer-menu
              - page_links_for_navigation.each do |link|
                %li{:class =>cp(link.url)}= link_to(link.name, link.url)
            .fright
              All rights are broken © 2012
      .container_12
        .divider1



