!!!
%html{:dir => "ltr", :lang => "en-US"}
  %head
    %meta{:charset => "utf-8"}
      %title= html_title yield(:page_title)
      = csrf_meta_tag
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
      = open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation]
      = yield(:head)
  %body#home
    %header
      .row-1
        .container_12.clearfix
          .full-width
            %h1
              %a{:href => "./index.html"}
                %img{:alt => "image", :src => "./assets/logo.png"}/
              %i
                PREMIUM PORTFOILIO AND BLOG THEME
            %ul.icon-list
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "./assets/twitter.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "./assets/google .png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "./assets/facebook.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "./assets/dribble.png"}/
              %li
                %a{:href => "#"}
                  %img{:alt => "image", :src => "./assets/vimeo.png"}/
            %form#form-search{:enctype => "multipart/form-data", :method => "get"}
              %fieldset
                %input{:name => "search", :type => "text"}
                  %a#send_bt{:href => "javascript:{}", :onclick => "jQuery('#form-search').submit();"} Go
    %nav
      .container_12.clearfix
        .full-width
          %ul.sf-menu
            - page_links_for_navigation.each do |link|
              %li{:class =>cp(link.url)}= link_to(link.name, link.url)
    #main
      = yield
    -#navigation
      %h2 Pages
      %ul
        - page_links_for_navigation.each do |link|
          %li= link_to(link.name, link.url)
      - unless category_links_for_navigation.empty?
        %h2 Categories
        %ul
          - category_links_for_navigation.each do |link|
            %li= link_to(link.name, link.url)
  %section#content
    .main.clearfix
      .row-1
        %span.title.alignright
          OUR blog entries
          %img.arrow{:alt => "image", :src => "./assets/arrow.png"}/
        %ul.breadcrumb
          %li.where Where you are:
          %li.home-br
            %a{:href => "./index.html"} Home
          %li Blog
      .top25
        .background.bottom54
          .container_12.clearfix.top40
            = yield(:content)
        .container_12.clearfix
          .divider1
      %footer
        .container_12.relative
          #twitter.twitter
        .aside
          .container_12.clearfix
            .grid_2
              %h3.bottom10 Blog Categories
              %ul.list-1
                %li
                  %a{:href => "#"} Neque porro
                %li
                  %a{:href => "#"} Quisquam est
                %li
                  %a{:href => "#"} Qui dolorem
                %li
                  %a{:href => "#"} Ipsum quia
                %li
                  %a{:href => "#"} Neque porro
            .grid_2
              %h3.bottom10 Some Links
              %ul.list-2
                %li
                  %a{:href => "#"} Neque porro
                %li
                  %a{:href => "#"} Quisquam est
                %li
                  %a{:href => "#"} Qui dolorem
                %li
                  %a{:href => "#"} Ipsum quia
            .grid_4
              %h3.bottom10 Our Lifestream
              #lifestream
            .grid_4
              .wrapper.marg-top-pl6
                %figure.logo-small
                  %img{:alt => "image", :src => "./assets/logo-small.png"}/
                .logo-info Premium Portfolio And Blog Theme
              .top10.color
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
              %form#form-subscribe{:enctype => "multipart/form-data", :method => "get"}
                %fieldset
                  %input{:onblur => "if(this.value=='')this.value='your email';", :onclick => "if(this.value=='your email')this.value='';", :type => "text", :value => "your email"}
                    %a.send_bt{:href => "javascript:{}"} subscribe
        .row
          .container_12.clearfix
            .grid_12
              %ul.footer-menu
                %li
                  %a{:href => "./index.html"} Home
                %li
                  %a{:href => "./about.html"} About
                %li
                  %a{:href => "./portfolio.html"} Portfolio
                %li.current
                  %a{:href => "./blog.html"} Blog
                %li
                  %a{:href => "./contact.html"} Contact
              .fright
                Copiright © 20011
                %a{:href => "#"} Lustrel
                by Fireform
        .container_12
          .divider1



