!!!
%html{:dir => "ltr", :lang => "ru-RU"}
  %head
    %meta{:charset => "utf-8"}
    %title= html_title yield(:page_title)
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %link{:href=>'http://fonts.googleapis.com/css?family=Open+Sans:700,600&subset=latin,cyrillic',:rel=>'stylesheet',:type=>'text/css'}
    = yield(:head)
  %body#home
    .header
      .row-1
        .container_12.clearfix
          .full-width
            .logo
              %a{:href => "/"}
                %img{:alt => "image",:class =>"logo-image", :src => "/assets/logo.png"}/
            %ul.icon-list
              %li
                %a{:href => "https://twitter.com/Xkeeper", :title => "Twitter"}
                  #twitter-icon
              %li
                %a{:href => "https://github.com/Xkeeper", :title => "Github"}
                  #github-icon
            %form#form-search{:enctype => "multipart/form-data", :method => "get"}
              %fieldset
                %input{:name => "search", :type => "text"}
                %a#send_bt{:href => "javascript:{}", :onclick => "jQuery('#form-search').submit();"} Go
      .nav
        .container_12.clearfix
          .full-width
            %ul.sf-menu.lavaLamp
              - page_links_for_navigation.each do |link|
                %li{:class =>cp(link.url)}= link_to(link.name, link.url)
      -#- unless category_links_for_navigation.empty?
      -#  %h2 Categories
      -#  %ul
      -#    - category_links_for_navigation.each do |link|
      -#      %li= link_to(link.name, link.url)
    #content
      - unless @tags.blank?
        .tag-toggle
          .tag-toggle-btn
            TAGS
          .tag-cloud
            - tag_cloud(@tags, %w(tag-cloud1 tag-cloud2 tag-cloud3 tag-cloud4)) do |tag, css_class|
              = link_to tag.name, posts_path(:tag => tag.name),
                :class => css_class,
                :title => "#{pluralize(tag.count,"post")} with this tag"
      .main.clearfix
        .top25
          .background.bottom30
            .container_12.clearfix.top10
              = yield
          .container_12.clearfix
            .divider2
    .main
      .footer
        .row
          .container_12.clearfix
            .grid_12
              %ul.footer-menu
                - page_links_for_navigation.each do |link|
                  %li{:class =>cp(link.url)}= link_to(link.name, link.url)
              .copyright
                All rights are broken © 2012
              %ul.icon-list-footer
                %li
                  %a{:href => "http://validator.w3.org/check?uri=http%3A%2F%2Fblog.0fh.ru%2F",
                  :title => "Valid HTML5!"}
                    #html5-icon
                %li
                  %a{:href => "http://www.rubyonrails.org",
                  :title => "Powered by Ruby on Rails"}
                    #rails-icon
        .container_12
          .divider1



